li {
  float: left;
  list-style: none;
  margin: 5px;
}

h3 {
  clear: left;
}

.fullsize {
  position: relative;
}

.fullsize img {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Use :nth-child to add borders to 1st, 2nd, 3rd */
li:nth-child(1) a {;
  display: block;
}

li:nth-child(2) a {
  display: block;
}

li:nth-child(3) a {
  display: block;
}

/* Change Borders of Full Size Images */ 
#fullsize-1:target {
  z-index: 1;
}

#fullsize-2:target {
  z-index: 2;
}

#fullsize-3:target {
  z-index: 3;
}


/*fancify*/
.fullsize img {
  opacity: 0;
  transition: opacity 1s;
}

.fullsize img:target {
  opacity: 1;
}

.fullsize {
    padding-bottom: 10px;
}