li {
  float: left;
  list-style: none;
  margin: 5px;
}

h3 {
  clear: left;
}

.fullsize {
  position: relative;
}

.fullsize img {
  position: absolute;
  top: 40px;
  left: 40px;
}


li:nth-child(1) a {;
  display: block;
}

li:nth-child(2) a {
  display: block;
}

li:nth-child(3) a {
  display: block;
}

 
#fullsize-1:target {
  z-index: 1;
    max-width: 65;
}

#fullsize-2:target {
  z-index: 2;
  max-width: 65%;
}

#fullsize-3:target {
  z-index: 3;
  max-width: 65%;
}


.fullsize img {
  opacity: 0;
  transition: opacity .5s;
}

.fullsize img:target {
  opacity: 1;
}

.fullsize {
    padding-bottom: 10px;
}