/*Global*/

body {
    background: #009C10;
}


img { 
    width:50%
}

/*Layoout*/
/*Typography*/
/*Navigation*/

a {
    background: #A58501;
    display: block;
    height: 50ps;
    width: 100px;
    
li {
    background: green;
    display: inline-block;
}