/*Global*/


/*
Typography:
    headings: font-family: 'Nunito', sans-serif;
    content: font-family: 'Vollkorn', serif;
    accents: font-family: 'Indie Flower', cursive; 

Colors:
    (deep gren) #62CC67
    (pale green) #9AFFBB
    (salmon) #FF7E63
    (teal blue) #00EFF1
    (brown/salmon) #CC9464
*/

body { 
    background: #00EFF1;
}

img { 
    width:50%
}


/*Layout*/


    


/*Typography*/


/*Navigation*/


li {
  list-style: none;
  width: 200px;
}

/*Link and Visited Styling*/
a:link, a:visited {
  background: #62CC67;
  border-left: 8px solid #FF7E63;
  color: black;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  transition: background .5s, margin-left 1s;
}

a:hover {
  background: #FF7E63;
  border-left: 8px solid #62CC67;
  color: black;
  margin-left: 32px;
    


/*Other*/
.vid {
    
}