/*Global*/


/*
Typography:
    headings: font-family: 'Nunito', sans-serif;
    content: font-family: 'Vollkorn', serif;
    accents: font-family: 'Indie Flower', cursive;


Colors:
    (deep purple) rgb(90, 42, 56)
    (olive green) rgb(153, 117, 57)
    (peach) rgb(240, 144, 119);
*/

body { 
    background: url(https://c1.staticflickr.com/3/2505/4038298414_94b71e4abe_b.jpg);
    background-size: 127%;
}

main {
    width: 95%;
}

#senior { 
    width: 35%;
    border-radius: 11%;
    margin-right: 5%;
}

#porch {
    width: 30%;
    border-radius: 41%;
}

#cousins {
    max-width: 39%;
    border-radius: 11%;
    margin-left: 5%;
}

#ewu {
    background: url(http://www.am-hs.org/uploaded/Academics/366px-Eastern_Washington_University_Seal.svg.png);
    background-repeat: no-repeat;
    background-size: 73px;
    padding-left: 91px;
}

#sfcc {
    background: url(https://www.higheredjobs.com/images/AccountImages/680_2.gif);
    background-repeat: no-repeat;
    background-size: 103px;
    padding-left: 111px;
}


/*Layout*/

.caption {
    font-size: 1.25em;
}



a:link, a:visited {
    color: black;
    text-decoration: none;
}

img, embed, object, video, iframe {
  width: 100%;
  max-width: 100%;
}

.contact:link, .contact:visited {
    color: rgb(240, 144, 119)
}

form {
    background: rgb(90, 42, 56);
    color: rgb(240, 144, 119);
    padding: 20px;
    border-radius: 5%;
    padding-bottom: 15px;
    padding-bottom: 15px;
}

.mail {
    max-width: 15%;
    padding-bottom: 12px;
}

.phone {
    max-width: 15%;
    padding-bottom: 10px;
}

.fb {
    max-width: 20%;
}

.contact {
    padding-left: 38%;
}

blockquote {
    margin-left: 35%;
    font-size: 20px;
}
#cousins {
    max-width: 39%;
    border-radius: 11%;
    margin-left: 5%;
}

/*Typography*/

/*blockquote {
    font-family: 'Indie Flower', cursive;
}

p {
    font-family: 'Vollkorn', serif;
}*/

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

label, blockquote {
    font-family: 'Indie Flower', cursive;
}

input {
   font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.movies, .books, .things, p {
    font-family: 'Vollkorn', serif;
}


/*Navigation*/


li {
  list-style: none;
  width: 200px;
    display: inline-block;
}

/*Link and Visited Styling*/
.nav:link, .nav:visited {
  background: rgb(153, 117, 57);
  border-left: 8px solid rgb(240, 144, 119);
  color: rgb(90, 42, 56);
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 163px;
  transition: background .5s, margin-left 1s;
  margin-top: 40px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.nav:hover {
  background: rgb(240, 144, 119);
  border-left: 8px solid rgb(153, 117, 57);
  color: rgb(90, 42, 56);
  margin-left: 32px;
}


/*gallery styling*/

.gallery {
    height: 500px;
}

.gallery .item {
    background: green;
}

.controls img:hover {
    outline: 5px solid red;
}


/*Other*/

input {
  display: block;
}